*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;

}

body{
  background-color: rgba(238, 19, 19, 0.937);
  color: whitesmoke;

}
.marvel{
 text-align: center;
 margin-bottom: 40PX;
}

.logo{
  flex-basis: 20rem;
  flex-grow: 1;
}


